@import '~/static/utils/vars.scss';

.filter-range {
    &__title { font-weight: bold; }

    &__inputs { display: flex; }

    &__input-group {
        display: flex;
        flex-direction: column;
    }

    &__input {
        max-width: 70px;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-shadow: none;
        outline: none;
        font-size: inherit;

        &:first-of-type { margin-right: 20px; }

        &:focus { border-color: $third-action-color; }
    }

    .rc-slider {
        max-width: 220px;
        margin: 0 auto;

        &-track { background-color: $third-action-color; }
        &-handle { border-color: $third-action-color; }
        &-dot-active { border-color: $third-action-color; }

        &-mark-text { font-size: 0.71rem; }
    }
}