@import '~/static/utils/vars.scss';
@import '~/static/utils/mixins.scss';

.auth {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 30px;
        &:last-child { margin-right: 0; }
    }

    &__link {
        cursor: pointer;

        @include text-level-4
    }
}