@mixin placeholder {
    &::-webkit-input-placeholder { @content };
    &:-moz-placeholder { @content };
    &::-moz-placeholder { @content };
    &:-ms-input-placeholder { @content };
}

// @mixin retina($density: 2) {
//     @media only screen and (-webkit-min-device-pixel-ratio: $density),
//     only screen and (min--moz-device-pixel-ratio: $density),
//     only screen and (-o-min-device-pixel-ratio: #{$density}/1),
//     only screen and (min-device-pixel-ratio: $density),
//     only screen and (min-resolution: 192dpi),
//     only screen and (min-resolution: $density dppx) {
//       @content;
//     }
// }

@mixin text-level-1 {
    font-family: $main-bold-font;
    font-size: 1.71rem;
    line-height: 1.67;
}

@mixin text-level-2 {
    color: $main-text-color;
    font-family: $main-bold-font;
    font-size: 1.14rem;
    line-height: 1.88;
}

@mixin text-level-2-white {
    color: $white-color;
    font-family: $main-bold-font;
    font-size: 1.14rem;
    line-height: 1.88;
}

// @mixin text-level-3 {
//     color: $dark-shade-100;
//     font-family: $main-bold-font;
//     font-size: 0.86rem;
//     line-height: 1.25;
//     text-transform: uppercase;
// }

@mixin text-level-4 {
    color: $main-text-color;
    font-family: $main-regular-font;
    font-size: 0.86rem;
    line-height: 1.67;
}

@mixin text-level-5 {
    color: $secondary-text-color;
    font-family: $main-regular-font;
    font-size: 0.86rem;
    line-height: 1.67;
}