// Fonts
$main-regular-font: 'Montserrat-Regular', Arial, sans-serif;
$main-bold-font: 'Montserrat-Bold', Arial, sans-serif;

// Size
$main-font-size           : 14px;
$main-line-height         : 24px;

$desktop-width            : 1140px;
$sm-desktop-width         : 992px;
$table-width              : 768px;
$phone-width              : 576px;
$min-width                : 320px;

$desktop-offset           : 30px;
$table-offset             : 15px;

$container-max-width      : 1140px;

// Colors
$white-color              : rgb(255, 255, 255);

$main-text-color          : #4b4b4b;
$secondary-text-color     : #a9a9a9; //silver-chalice

$main-action-color        : rgb(255, 109, 0); //blaze-orange
$secondary-action-color   :#4b4b4b80;

$border-color             : rgb(221, 221, 221);

$header-bg                : rgb(238, 242, 244); //athens-gray