@import '~/static/utils/vars.scss';
@import '~/static/utils/mixins.scss';

.product-body {
    &__header { margin-bottom: 30px; }

    &__list {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1),
                    0 5px 10px 0 rgba(0, 0, 0, 0.05);

        @media screen and(max-width: $phone-width) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    
    &__item {
        padding: 0 20px;
        
        &:not(:last-of-type) {
            border-right: 1px solid $border-color;

            @media screen and(max-width: $phone-width) { border-right: 0; }
        }

        @media screen and(max-width: $phone-width) { padding: 5px 0; }
    }

    &__link {
        color: inherit;
        text-decoration: none;
        transition: all .3s;
        cursor: pointer;

        @include text-level-2;

        &:hover {
            color: $main-action-color;
            text-decoration: none;
        }
    }

    &__body {
        padding-left: 20px;
        margin-bottom: 100px;
    }

    &__description-enter { opacity: 0; }
    &__description-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    &__description-exit { opacity: 0; }
}