@import '~/static/utils/vars.scss';

.product-cart {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $border-color;
    transition: all .3s;

    &:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),
                    0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        color: inherit;
        cursor: pointer;

        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    &__text {
        font-family: $main-bold-font;
        font-size: 1rem;
    }

    &__price {
        color: $main-action-color;
        font-family: $main-bold-font;
        font-size: 1.43rem;
        margin-bottom: 30px;
        margin-top: auto;
    }
}