@import '~/static/utils/vars.scss';
@import '~/static/utils/mixins.scss';

.delivery-page {
    margin: 30px 0;

    &__title {
        margin-bottom: 20px;

        @include text-level-1;
    }

    &__title-h2 {
        margin: 20px 0;

        @include text-level-1-2;
    }

    &__table {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &__advantages { margin-top: 30px; }
}