@import '~/static/utils/vars.scss';
@import '~/static/utils/mixins.scss';

.delivery-page {
    &__title {
        margin-bottom: 20px;

        @include text-level-1;
    }

    &__text { padding-bottom: 10px; }

    &__title-h2 {
        margin: 20px 0;

        @include text-level-1-2;
    }

    &__table {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}